
/*Estilos generales*/
:root{
    --white: #ffffff;
    --black: #000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --sm: 14px;
    --md: 16px;
    --lg: 32px;
}


*{
    padding:0;
  
    margin: 0;
}

body{
    font-family: 'Quicksand', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    border-bottom: 1px solid var(--very-light-pink);
}

.navbar-left ul,
.navbar-right ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center ;


}

.navbar-left{
    display: flex;
  
}

.navbar-right{
    display: flex;
    padding: 20px;
}



.navbar-left ul{
   margin-left: 12px;
}


.navbar-left ul li a,
.navbar-right ul li a{
    text-decoration: none;
    color: var(--very-light-pink);
    border:  1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover{
    color: var(--hospital-green);
    border:  1px solid var(--hospital-green);
}



.navbar-right-shopping div{
    width: 8px;
    height: 15px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
}

.navbar-right-shopping{
    position: relative;
    margin-left: 20px;
}


.menu{
    display: none;
    cursor: pointer;
}

.logo{
    width: 100px;
}

.navbar-right-email{
    color: var(--very-light-pink);
    font-size: var(--sm);
    cursor: pointer;
}


.navbar-right-email:hover{
    color: var(--hospital-green);
    
}

.navbar-logo{
    padding-left: 20px;
}

.desktop-menu{
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--white);
    width: 120px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;

}

.desktop-menu ul{
    list-style: none;
}



.desktop-menu ul li{
    margin-bottom: 10px;
    text-align: end;
    text-decoration: none;
    padding: 10px 10px 0 10px;

}




ul li:last-child{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 0px solid var(--very-light-pink);
}


ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
}


ul li a{
    color: var(--black);
    text-decoration: none;
    font-weight: bold;
 }



 .mobile-menu{
    background-color: var(--white);
    position: absolute;
    top: 60px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;
}


.mobile-menu ul li{
    list-style: none;
    margin-bottom: 24px;
}

.mobile-menu  ul:nth-child(1){
    border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu  ul:nth-child(2){
    margin: 80px 0 50px 0;
}


.mobile-menu  ul:last-child .email{
    font-size: var(--sm);
    font-weight: 300;
}

.mobile-menu  ul:last-child .sign-out{
    color: var(--hospital-green);
    font-size: var(--sm);
}


.mobile-menu  ul li a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}


.product-detail{
    background-color: var(--white);
    width: 360px;
    padding-bottom: 24px;
    position: absolute;
    top: 60px;
    right: 0;

}

.order-container-tittle{
    font-size: var(--lg);
    font-family: 'Quicksand', sans-serif;
    margin-left: 10px;
}

.product-detail-info-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.order-container-product{
    display: flex;
    align-items: center;
    width: 300px;
}


.order-container-product img:nth-child(1){
        width: 100px;
        height: 100px;
        border-radius: 20px ;
        object-fit: cover;
      
}



.order-container-product  p:nth-child(3){
    font-weight: bold;
    margin-right: 10px;
    
}


.order-container-product  p:nth-child(2){
    color: var(--very-light-pink);
    margin-right: 100px;
    margin-left: 20px;

}


.order-container-content{
    display: flex;
    justify-content: space-between;
    background-color: var(--text-input-field);
    border-radius: 10px;
    width: 300px;
    margin-bottom: 20px;
    padding:  10px 24px 10px 24px;
}


/*.order-container-content p:nth-child(1){
    padding-top: 10px;
}*/


.order-container-content p span:nth-child(1){
    font-size: var(--md);
    font-weight: bold;
    text-align: center;
}

.order-container-content p span:nth-child(3){
    font-size: var(--sm);
    color: var(--very-light-pink);  
}


.form-signup{
    width: 100%;
    background-color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
    border-radius: 4px;
    color: var(--white);
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.product-detail-tittle{
    display: flex;
}

.product-detail-tittle img{
    transform: rotate(180deg);
}


.main-container-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,240px);
    gap: 26px ;
    place-content: center;
    margin-top: 20px;
}

.main-container-cards-product{
    width: 240px;
}

.main-container-cards-product img{
    width: 240px;
    height: 240px;
    border-radius: 20px ;
    object-fit: cover;
}


.main-container-cards-product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.main-container-cards-product-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin: 0px 0 4px 0;
}

.main-container-cards-product-info div p:nth-child(2){
    font-size: var(--sm);
    color: var(--very-light-pink);
}

.main-container-cards-product-info figure img{
    width: 35px;
    height: 35px;
}

.inactive{
    display: none;
}




@media (max-width:640px){


    .menu{
        display: block;
        padding: 20px;
    }
    .navbar-left ul{
        display: none;
    }

    .navbar-right-email{
        display: none;
    }

    .desktop-menu{
        display: none;
    }

    .product-detail{
        width: 100%;
    }

    .main-container-cards{
        grid-template-columns: repeat(auto-fill,140px);
    }


    .main-container-cards-product{
        width: 140px
    }

    .main-container-cards-product img{
        width: 140px;
        height: 140px;
    }
    


    
}


@media (max-width:640px){


    .menu{
        display: block;
        padding: 20px;
    }
    .navbar-left ul{
        display: none;
    }

    .navbar-right-email{
        display: none;
    }

    .desktop-menu{
        display: none;
    }
    
}


@media (min-width:641px){
    .mobile-menu{
        display: none;
    }
}


